---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[어떻게 할까요?] 게시 및 테스트 결과 분석? | Microsoft 문서'
author: rick-anderson
description: Visual Studio Team System을 사용 하면 프로젝트 진행에 따라 프로젝트의 코드 품질 차트 변경을 할 수 있습니다. 이 비디오는 publ. 하는 방법에 지침을 제공...
ms.author: riande
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: a575dd0af20bb1565606c93e5a189b7a3e35ff3d
ms.sourcegitcommit: 45ac74e400f9f2b7dbded66297730f6f14a4eb25
ms.translationtype: MT
ms.contentlocale: ko-KR
ms.lasthandoff: 08/16/2018
ms.locfileid: "41831454"
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[어떻게 할까요?] 게시 및 테스트 결과 분석?
====================
[Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System을 사용 하면 프로젝트 진행에 따라 프로젝트의 코드 품질 차트 변경을 할 수 있습니다. 이 비디오에서는 Team Foundation Server 프로젝트 데이터베이스에 테스트 결과 게시할 빌드 번호를 사용 하 여 결과 연결 하는 방법을 설명 합니다. 알 수는 결과 게시 된 후 사용할 수 있습니다 보고서 관리자 빌드 테스트 결과에 변경 내용의 그래픽 표현을 볼 수 있습니다.

[&#9654;비디오 (7 분)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [이전](how-do-i-use-generic-tests.md)
> [다음](how-do-i-discover-application-changes-prior-to-deployment.md)
