---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[어떻게 할까요?] 게시 및 테스트 결과 분석? | Microsoft 문서'
author: rick-anderson
description: Visual Studio Team System을 사용 하면 프로젝트 진행에 따라 프로젝트의 코드 품질에 차트 변경을 할 수 있습니다. 이 비디오에서는 publ. 하는 방법에 지침을 제공...
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: be3ff525ae5010e3df9f5e33c2c9b5c4f3701226
ms.sourcegitcommit: f8852267f463b62d7f975e56bea9aa3f68fbbdeb
ms.translationtype: MT
ms.contentlocale: ko-KR
ms.lasthandoff: 04/06/2018
---
<a name="how-do-i-publish-and-analyze-test-results"></a>[어떻게 할까요?] 게시 및 테스트 결과 분석?
====================
으로 [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System을 사용 하면 프로젝트 진행에 따라 프로젝트의 코드 품질에 차트 변경을 할 수 있습니다. 이 비디오는 Team Foundation Server 프로젝트 데이터베이스에 테스트 결과 게시 하 고 빌드 번호와 결과 연결 하는 방법에 지침을 제공 합니다. 결과 게시 한 후 우리 데 사용할 수 있는 보고서 관리자 빌드 테스트 결과에 변경의 그래픽 표현을 보려면 표시 됩니다.

[&#9654;(7 분) 비디오를 시청 하세요](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> [이전](how-do-i-use-generic-tests.md)
> [다음](how-do-i-discover-application-changes-prior-to-deployment.md)
