---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: '[어떻게 할까요?] 게시 및 테스트 결과 분석? | Microsoft 문서'
author: rick-anderson
description: Visual Studio Team System을 사용 하면 프로젝트 진행에 따라 프로젝트의 코드 품질 차트 변경을 할 수 있습니다. 이 비디오는 publ. 하는 방법에 지침을 제공...
ms.author: aspnetcontent
ms.date: 07/16/2007
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
ms.openlocfilehash: eb59591d32191ed736786fda236f74b5104ef868
ms.sourcegitcommit: b28cd0313af316c051c2ff8549865bff67f2fbb4
ms.translationtype: MT
ms.contentlocale: ko-KR
ms.lasthandoff: 07/05/2018
ms.locfileid: "37833078"
---
<a name="how-do-i-publish-and-analyze-test-results"></a><span data-ttu-id="d51cc-105">[어떻게 할까요?] 게시 및 테스트 결과 분석?</span><span class="sxs-lookup"><span data-stu-id="d51cc-105">[How Do I:] Publish and Analyze Test Results?</span></span>
====================
<span data-ttu-id="d51cc-106">[Chris Menegay](https://twitter.com/CMenegay)</span><span class="sxs-lookup"><span data-stu-id="d51cc-106">by [Chris Menegay](https://twitter.com/CMenegay)</span></span>

<span data-ttu-id="d51cc-107">Visual Studio Team System을 사용 하면 프로젝트 진행에 따라 프로젝트의 코드 품질 차트 변경을 할 수 있습니다.</span><span class="sxs-lookup"><span data-stu-id="d51cc-107">Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses.</span></span> <span data-ttu-id="d51cc-108">이 비디오에서는 Team Foundation Server 프로젝트 데이터베이스에 테스트 결과 게시할 빌드 번호를 사용 하 여 결과 연결 하는 방법을 설명 합니다.</span><span class="sxs-lookup"><span data-stu-id="d51cc-108">This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number.</span></span> <span data-ttu-id="d51cc-109">알 수는 결과 게시 된 후 사용할 수 있습니다 보고서 관리자 빌드 테스트 결과에 변경 내용의 그래픽 표현을 볼 수 있습니다.</span><span class="sxs-lookup"><span data-stu-id="d51cc-109">We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.</span></span>

[<span data-ttu-id="d51cc-110">&#9654;비디오 (7 분)</span><span class="sxs-lookup"><span data-stu-id="d51cc-110">&#9654; Watch video (7 minutes)</span></span>](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

> [!div class="step-by-step"]
> <span data-ttu-id="d51cc-111">[이전](how-do-i-use-generic-tests.md)
> [다음](how-do-i-discover-application-changes-prior-to-deployment.md)</span><span class="sxs-lookup"><span data-stu-id="d51cc-111">[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)</span></span>
